<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SubscribersDBEntities" connectionString="metadata=res://*/Models.SubscribersDataModel.csdl|res://*/Models.SubscribersDataModel.ssdl|res://*/Models.SubscribersDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER\SQLEXPRESS;initial catalog=Subscribers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>